body {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
}

.top-bar {
  height: 50px;
  background-color: #1a202c;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.btn-default {
  background-color: #1a202c;
  color: #fff;
}

.btn-default:hover {
  background-color: #2d3748;
}

.board {
  position: absolute;
  transform: translate(-15%, 0);
  top: 8.5%;
  left: 11%;
  height: 90vh;
  width: 90vh;
  background: url("../images/board.png");
  background-size: contain;
  z-index: -1;
}

.canvas {
  position: absolute;
  transform: translate(-15%, 0);
  top: 8.5%;
  left: 11%;
  width: 90vh;
  height: 90vh;
  z-index: 1;
}

.dice {
  display: flex;
  justify-content: flex-end;
}

.dice img {
  width: 25%;
  height: auto;
}

#players-table img {
  padding-left: 20px;
}

#room-select {
  display: none;
}

#game-select {
  display: none;
}